<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Chỉ giữ permission cần thiết -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>

    <application
        android:label="PIF"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.tool.pif.MANUAL_TRIGGER"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>