name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
permissions: write-all
env:
    GH_TOKEN: ${{ github.token }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run script
        run: |
            set -x
            
            echo 123 > z.txt
            
            upload_gh(){
            if [ "$(gh release verify "$1" 2>&1 | grep -cm1 "$1")" == 1 ];then
            gh release edit "$1" --latest -t "$3" -n "$4"
            gh release upload "$1" "$2" --clobber
            else
            gh release create "$1" "$2" -t "$3" -n "$4"
            fi; }

            upload_gh V5 z.txt
            
         










