name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
permissions: write-all
env:
    GH_TOKEN: ${{ github.token }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run script
        run: |
            TAG_NAME='V1'
            git tag "$TAG_NAME"
            echo 11
            git push origin "$TAG_NAME"
            echo 12
            git tag -l "$TAG_NAME"
            echo 23
            git show-ref --tags
         










