name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
permissions: write-all
env:
    GH_TOKEN: ${{ github.token }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run script
        run: |
            set -x
            
            upload_gh(){
            gh release create "$1" "$2" --title "$3" --notes "$4"; }

            echo 123 > z.txt
            
            upload_gh V3 z.txt hello test
            #gh release upload V3 z.txt --clobber
            
            
            echo
         










