name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
permissions: write-all
env:
    GH_TOKEN: ${{ github.token }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run script
        run: |
            set -x
            
            TAG_NAME='V2'
            git tag "$TAG_NAME"
            if [ "$(git tag -l "$TAG_NAME")" != "$TAG_NAME" ];then
            git push origin "$TAG_NAME"
            echo 'Đã tạo tag: $TAG_NAME'
            fi
            

            echo end
         










